<nav>
	<ul class="nav">
		{% for item in main_pages_menu.items %}
			<li class="nav-item {{item.class}}">
				<a href="{{item.link}}" class="nav-link" {{item.is_target_blank ? 'target="_blank"'}}>{{item.title}}</a>
				{% if item.title == "Nos produits" %}
					{% include "parts/menus/product-categories-menu.twig" %}
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</nav>
