<nav>
	<ul>
		<li class="menu-item">
			<a href="#">Une histoire</a>
		</li>
		<li class="menu-item">
			<a href="#">Nos produits</a>
		</li>
		<li class="menu-item">
			<a href="#">Le showroom</a>
		</li>
		<li class="menu-item">
			<a href="#">Contact</a>
		</li>
	</ul>
</nav>
