<nav class="product-categories-menu">
	<div class="product-categories-menu__image"></div>
	<ul class="product-categories-menu__list">
		{% for item in product_categories_menu.items %}
			<li class="nav-item {{item.class}}">
				<a href="{{item.url}}" class="nav-link" {{item.is_target_blank ? 'target="_blank"'}}>{{item.title}}</a>
			</li>
		{% endfor %}
	</ul>
</nav>
