<!DOCTYPE html>
<html {{ site.language_attributes }}>
	<head>
		<meta charset="{{site.charset}}">
		{{function('wp_head')}}
	</head>
	<body>
		{% include "parts/header.twig" %}
		{% block content '' %}
		{% include "parts/footer.twig" %}
		{{function('wp_footer')}}
	</body>
</html>
