.header {
    &__main {
        display: flex;
        gap: 4rem;

        &__logo {
            width: 200px;
            display: flex;
            align-items: center;
        }
    }

    .main-menu {
        display: flex;
        align-items: center;
        gap: 2rem;
        height: $header-height;
    }

    .product-categories-menu {
        background-color: #fff;
        display: flex;
        gap: 1rem;

        &__image-container {
            max-width: 300px;
        }

        &__image {
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
